<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>Comp 521 Files and Databases - Fall 2019</h1>
<h1 style="font-size: 250%;">Problem Set #2</h1>
<h1 style="font-size: 200%;">Version 1.1</h1>
<h1>Issued Thursday 09/26/2019; Due Tuesday 10/01/2019</h1>
</div>

**Homework Information:** The answer cells in this notebook contain metadata that enable it to be automatically parsed. Thus, you must enter your answers *only* into the cells provided. Do not delete any answer cell and/or add a new one to replace it. If you do so by accident, download a new copy of the problem set's notebook and transfer your answers into it. You can introduce new 'coding' cells in an effort to test approaches to problems, however, these introduced cells will not be considered when grading.

Finally, some of the problems are probably too long to be done the night before the due date, so plan accordingly. Late problem sets will be accepted, but your lowest problem-set grade will be dropped. Feel free to get help from others, but the work you submit in should be your own.

In [1]:
# Do not make any edits in this cell!
class Student:
    first = "Adam"
    last = "Alston"
    onyen = "aalston9"
    pid = "730015776"

In the following questions you are asked to write a single SQL query to find the requested results from a database derived from the NFL roster data used in Problem set #1. The database has the following tables:
<table style="border:none;"><tbody>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="6" style="text-align:center;">Player</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>pid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">name</td>
                <td style="border-collapse: collapse; border: 1px solid black;">height</td>
                <td style="border-collapse: collapse; border: 1px solid black;">weight</td>
                <td style="border-collapse: collapse; border: 1px solid black;">college</td>
                <td style="border-collapse: collapse; border: 1px solid black;">dob</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="2" style="text-align:center;">Team</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>tid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>mascot</u></td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="7" style="text-align:center;">PlayedFor</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>pid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>tid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>year</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">position</td>
                <td style="border-collapse: collapse; border: 1px solid black;">jersey</td>
                <td style="border-collapse: collapse; border: 1px solid black;">games</td>
                <td style="border-collapse: collapse; border: 1px solid black;">starts</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="4" style="text-align:center;">TeamLocation</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>tid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>year</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">place</td>
                <td style="border-collapse: collapse; border: 1px solid black;">headcoach</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="5" style="text-align:center;">Draft</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>pid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">year</td>
                <td style="border-collapse: collapse; border: 1px solid black;">round</td>
                <td style="border-collapse: collapse; border: 1px solid black;">overall</td>
                <td style="border-collapse: collapse; border: 1px solid black;">tid</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="8" style="text-align:center;">Game</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>season</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>week</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">date</td>
                <td style="border-collapse: collapse; border: 1px solid black;">vtid</td>
                <td style="border-collapse: collapse; border: 1px solid black;">vscore</td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>htid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">hscore</td>
                <td style="border-collapse: collapse; border: 1px solid black;">notes</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        </tbody></table>

An <a href="http://csbio.unc.edu/mcmillan/Media/NFL.db" download>example database</a> and the interactive SQL parser (<a href="http://csbio.unc.edu/mcmillan/Media/iSQL.zip" download>iSQL.zip</a>) are provided for experimentation. You will need to unzip and copy iSQL.py into the same directory as the notebook for this problem set and invoke it as follows:


    import iSQL
    
    query = iSQL.parser("NFL.db")
    </code>
    

Make sure that you copy your SQL query into the cell provided for your answer. Only that cell will be graded.
***Warning***, if your query appears to give the correct result for the given database, that does not mean that it is correct. A correct query must give the requested result for *any* and *all* valid instances of the given database schema.

---
**Problem 1:** How many 1st round draft picks were represented on the roster of the 1995 Dallas Cowboys?

SELECT COUNT(DISTINCT P.name)
FROM PLAYER P, Team T, TeamLocation L, Draft D, PlayedFor F
WHERE P.pid=D.pid AND D.round=1 AND L.year=1995 AND T.mascot='cowboys'
AND L.place='dallas' AND F.year=1995 AND F.pid=P.pid AND F.tid=T.tid

---
**Problem 2:** Give the dates, week, and scores of all Cowboy - Bronco games between 1990 and 2000.

select G.date, G.week, G.hscore, G.vscore from Game G, Team TH, Team TV where (G.vtid = TV.tid and TV.mascot = "broncos") and (G.htid = TH.tid and TH.mascot = "cowboys") and G.season > 1989 and G.season < 2001 
union
select G.date, G.week, G.hscore, G.vscore from Game G, Team TH, Team TV where (G.vtid = TV.tid and TV.mascot = "cowboys") and (G.htid = TH.tid and TH.mascot = "broncos") and G.season > 1989 and G.season < 2001

---
**Problem 3:** List the names of all players who appear on the rosters of both the 1990 and 2000 Dallas Cowboys.

SELECT DISTINCT P.name
FROM Player P, Team T, TeamLocation L, PlayedFor F
WHERE P.pid=F.pid AND F.tid=L.tid AND F.year =1990 AND L.place='dallas' AND T.mascot='cowboys'
INTERSECT
SELECT DISTINCT P.name
FROM Player P, Team T, TeamLocation L, PlayedFor F
WHERE P.pid=F.pid AND F.tid=L.tid AND F.year =2000 AND L.place='dallas' AND T.mascot='cowboys'

---
**Problem 4:** Find all players that have worn the jersey number 8 for the Dallas Cowboys.

SELECT DISTINCT P.name
FROM Player P, PlayedFor F, Team T, TeamLocation L
WHERE L.place='dallas' AND T.mascot='cowboys' AND P.pid=F.pid AND F.jersey=8 AND T.tid=F.tid AND L.tid=F.tid

---
**Problem 5:** Find the dates and opponents of all games played by the Dallas Cowboys that ended in a tied score.

SELECT G.date, T2.mascot
FROM Game G, TeamLocation L, Team T1, Team T2
WHERE G.hscore=G.vscore and L.place='dallas' AND L.tid=T1.tid AND T1.mascot='cowboys' AND G.htid=T1.tid AND T2.tid=G.vtid
UNION
SELECT G.date, T2.mascot
FROM Game G, TeamLocation L, Team T1, Team T2
WHERE G.hscore=G.vscore and L.place='dallas' AND L.tid=T1.tid AND T1.mascot='cowboys' AND G.vtid=T1.tid AND T2.tid=G.vtid

---
**Problem 6:** Find all players for the Dallas Cowboys between the years 1985 and 2005 that played under two or more jersey numbers.

SELECT P.name
From Player P, Team T, PlayedFor F, TeamLocation L
WHERE L.place='dallas' AND F.tid=L.tid AND F.tid=T.tid AND P.pid=F.pid AND (F.year>1984 and F.year<2006) and T.mascot='cowboys' and F.jersey <> '--'
Group BY P.pid
HAVING COUNT(DISTINCT F.jersey)>1

---
**Problem 7:** List all players with the most starts who played for the 1995 Dallas Cowboys.

SELECT DISTINCT P.name
FROM Player P, PlayedFor F, Team T, TeamLocation L,
(SELECT P.name, MAX(F.starts) as maxStarts
FROM Player P, PlayedFor F, Team T, TeamLocation L
WHERE L.place='dallas' AND T.mascot='cowboys' AND F.tid=T.tid AND F.year=1995 AND P.pid=F.pid)
WHERE F.starts=maxStarts AND L.place='dallas' AND T.mascot='cowboys' AND F.tid=T.tid AND F.year=1995 AND P.pid=F.pid

---
**Problem 8:** List all games with date, scores, and opponents of the 1995 Dallas Cowboys.

SELECT DISTINCT G.date, G.hscore, G.vscore, T2.mascot
FROM Game G, Team T1, Team T2
WHERE T1.mascot='cowboys' AND G.htid=T1.tid AND g.vtid=T2.tid and G.season=1995
UNION
SELECT DISTINCT G.date, G.hscore, G.vscore, T2.mascot
FROM Game G, Team T1, Team T2
WHERE T1.mascot='cowboys' AND G.vtid=T1.tid AND g.htid=T2.tid and G.season=1995

---
**Problem 9:** List all players, teams, and years where a player on the roster of the 1995 Cowboys played for a team other than the Cowboys in later seasons.

SELECT P.name, F2.year, T1.mascot, T2.mascot
FROM PLAYER P, Team T1, Team T2, TeamLocation L, PlayedFor F, PlayedFor F2
WHERE L.year=1995 AND T1.mascot='cowboys' AND L.place='dallas' AND F.year=1995 AND F.pid=P.pid AND F.tid=T1.tid AND T2.mascot!='cowboys' and F2.year>1995 and F2.pid=P.pid and F2.tid=T2.tid

---
**Problem 10:** Find the Win-Loss-Tie record each year for the Dallas Cowboys in the interval between 1985 and 2005.

Select G.season, count(case when((T.tid=G.htid AND hscore>vscore) OR (T.tid=G.vtid AND hscore<vscore)) then 1 else null end) as wins,count(case when((T.tid=G.htid AND hscore<vscore) OR (T.tid=G.vtid AND hscore>vscore)) then 1 else null end) as losses, count(case when(((T.tid=G.htid AND hscore=vscore) OR (T.tid=G.vtid AND hscore=vscore))) then 1 else null end) as Ties
FROM Team T, Game G
WHERE T.mascot LIKE 'cowboy%'
AND G.season >= 1985
AND G.season <= 2005
GROUP BY G.season

---
**Problem 11:** What position has been played by the most players?

SELECT P.position
FROM PlayedFor P, 
    (SELECT MAX (COUNT) AS MaxCount FROM (SELECT COUNT(DISTINCT P.pid) AS Count
    FROM PlayedFor P
    GROUP BY P.position))
GROUP BY P.position
HAVING MaxCount = COUNT(DISTINCT P.pid)

---
**Problem 12:** List all players who played as an Charger in both San Diego and Los Angeles

SELECT P.name
From Player P, Team T, PlayedFor F, TeamLocation L
Where T.mascot='chargers' and F.tid=T.tid and F.pid=P.pid and L.place='san diego' and L.tid=T.tid and  F.year == L.year
INTERSECT
SELECT P.name
From Player P, Team T, PlayedFor F, TeamLocation L
Where T.mascot='chargers' and F.tid=t.tid and F.pid=P.pid and L.place='los angeles' and L.tid=T.tid and  F.year == L.year

---
**Problem 13:** List the top 10 colleges in terms of their contribution to player who have appeared in NFL rosters.

SELECT college
FROM Player P
WHERE college like "_%"
GROUP BY college
ORDER BY COUNT(*) DESC
LIMIT 10

---
**Problem 14:** What is the highest draft pick historically (lowest overall number) for every each position.

SELECT position, MIN(overall) as MinOverallPick
FROM Draft D, PlayedFor R
WHERE overall>0 AND R.pid=D.pid
GROUP BY position

---
**Problem 15:** What team played in the fewest home games in the period between 2000 and 2019?

SELECT T.mascot
FROM Team T, Game G
WHERE T.tid= G.htid
AND (G.season >= 2000 AND G.season <=2019)
GROUP BY T.mascot
ORDER BY COUNT(*)
LIMIT 1

---
**Problem 16:** Generate a list of the winningest quarterback considering all teams that they might have played for.

SELECT DISTINCT P.name, COUNT(DISTINCT G.date) as Wins
FROM Player P, PlayedFor PF, Game G
where P.pid=PF.pid and PF.position='QB' and PF.year=G.season 
and ((PF.tid=G.vtid and G.vscore> G.hscore) or (PF.tid=G.htid and G.vscore< G.hscore))
GROUP BY P.name
ORDER BY Wins DESC

---
**Problem 17:** Find the heaviest player in each 2019 roster.

SELECT P.name, T.mascot
FROM Player P, PlayedFor R, Team T
WHERE R.year=2019 AND R.pid=P.pid AND T.tid=R.tid AND P.weight<>'--'
GROUP BY T.mascot
HAVING MAX(P.weight)

---
**Problem 18:** Which team and year had the heaviest average player weight.

select T.mascot, R.year, MAX(avgWeight)
from Player P, PlayedFor R, Team T,
    (SELECT T.mascot, R.year, AVG(p.weight) as avgWeight
    FROM Player P, PlayedFor R, Team T
    WHERE T.tid=R.tid AND R.pid=P.pid AND P.weight<>'--'
    GROUP BY T.mascot, R.year
    HAVING AVG(P.weight))
WHERE T.tid=R.tid AND R.pid=P.pid AND P.weight<>'--'

---
**Problem 19:** Generate a list of the top-ten pairs of teams that have played each other in the most games.

SELECT A.mascot,B.mascot, COUNT(A.tid) as Matchups
From Game G, Team A, Team B
WHERE (G.vtid=A.tid or G.htid=A.tid) AND (G.vtid =B.tid OR G.htid=B.tid) AND B.tid>A.tid
GROUP BY B.tid, A.tid
ORDER BY COUNT(A.tid) DESC 
LIMIT 10

---
**Problem 20:** How many times have two teams from the same location (i.e. New York Gaints and New York Jets, or Los Angeles Rams and Los Angeles Chargers) played each other?.

SELECT COUNT(*) 
FROM (Select distinct LH.place, TH.mascot, TH.tid, LV.place, TV.Mascot, TV.tid, G.htid, G.vtid
    From TeamLocation LH, TeamLocation LV, Game G, Team TH, Team TV
    Where LH.tid=TH.tid and TH.tid=G.htid and LH.place = LV.place and TV.tid = G.vtid and LV.tid = TV.tid)

Click [here to submit](http://csbio.unc.edu/mcmillan/index.py?run=PS.upload) your completed problem set.

You can submit it as many times as you would like, but only the last submitted version will be graded. If the last submission was after the due date the final score will be reduced accordingly.